<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Contact</title>
</head>
<body>
    <h1>Details</h1>
    <p>Name: <%= contact.name %></p>
    <p>Email: <%= contact.email %></p>
    <p>Phone: <%= contact.phone %></p>
    <a href="/">Back to Contact List</a>
</body>
</html>